html {
  height: 100%;
  overflow: hidden
}

body {
  text-align: center; /* Aligns all text*/
  background-color: #04293A; /*Sets the background color to dark*/
  height: 100%;
  overflow: hidden
}

#level-title {
  font-family: 'Press Start 2P', cursive; /* Font used from google fonts*/
  font-size: 2.5rem;
  margin:  5%; /* Separates the button from touching the title*/
  color: #ECB365; /* Makes the title a gold color*/
}

.container { /* Formats all of the button as a group*/
  display: block;
  width: 50%; /* Will only take up 50% of the screen*/
  margin: auto; /* Stays in the middle*/

}

.btn { /* Style for all of the buttons*/
  margin: 25px; /* Separates the buttons from each other*/
  display: inline-block; /* Allows for button to be on the same line*/
  height: 300px;
  width: 300px;
  border: 10px solid #041C32; /* Adds a border to each button*/
  border-radius: 20%; /*Smooths out the border so it itsnt so square*/
}

.game-over { /* Style for when the game is over*/
  background-color: #EE5007; /* Set the background to a dark orange*/
  opacity: 0.75;
}

.red { /* Sets the red button div to be red*/
  background-color: #B22727;
}

.green { /* Sets the green button div to be green*/
  background-color: #6EBF8B;
}

.blue { /* Sets the blue button div to be blue*/
  background-color: #006E7F;
}

.yellow { /* Sets the yellow button div to be yellow*/
  background-color: #F8CB2E;
}

.pressed { /* Style for when a button is pressed*/
  box-shadow: 0 0 20px white; /* Adds a white shadow around the button*/
  background-color: grey; /* Turns the button gray*/
}
